/logs/
/mapcache/*.zip
/mapcache/*.kap
/mapcache/*.KAP
/mapcache/NZ*
/mapcache/US*
/mapcache/UK*
/@signalk/
/@mxtommy/
/skwiz/
/freeboard-sk/
/mapcache/
/download/
/tuktuk-chart-plotter/
/kgauge/
/freeboardv2/
