/log4j.properties
/self.json
/signalk-config.json
/log4j2.json
/signalk-attr.json
/signalk-restart
/signalk-config.json.bak
/signalk-config.json~
/resources.json
/security-conf.json
/test-cert.pem
/test-private.pem
